<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.codequantum_project">

    <!-- Declare the permissions for the app, if needed -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Application tag -->
    <application
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
        android:label="QuantumChecker"
        android:icon="@mipmap/ic_launcher">

        <!-- Main activity declaration -->
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:label="@string/app_name"
            android:exported="true"> <!-- Add android:exported here -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
